/* Globals */

* {
    margin:0;
    padding:0;
    font-style: normal;
    font-family: arial;
}

/* Profile */

.section-profile {
    position:relative;
    text-align:center;
    color:white
}

.profile-title {
    position:absolute;
    top:48px;
    left:504px;
    font-size: 64px;
    font-weight: bold;
}

.profile-description {
    position: absolute;
    font-weight: bold;
    font-size:36px;
    line-height:42px;
    color:white;
    background:rgba(114,153,254,0.5);
    width:349px;
    height:101px;
    top:270px;
    left:246.5px;
    border-radius:10px;
    padding-top:16px;
    text-align:justify;
    padding-left:16px;
}

/* Sobre-Mi */

.section-about {
  width:960px;
  height:424px;
  background:#7299fe;
  position:relative;
  top:-3px;
  left:195px;
}

.about-title {
  font-size:36px;
  position:relative;
  top:27px;
  left:408px;
  color:#1D06A7;
  font-weight: bold;
}

.about-text {
  position:relative;
  top:65px;
  left:45px;
  line-height:24px;
  width:872px;
  color:white;
  text-align:justify;
  font-size:14px;
}

.about-link {
  position:relative;
  top:105px ;
  left:45px;
  width:200px;
  height:62px;
  background:#D16FFF;
  color:white;
  border-radius:20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 18px 56px;
  text-align:center;
  text-decoration:none;
  font-weight: bold;
  font-size:22px;
}